{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
            <form>
                <img src="hello.jpg" alt="...">
                <h1>EVENT TITLE</h1>
                <p>Description: Creative Computing Society is one of the largest student-run societies of Thapar University, Patiala. Our main goal is to promote computer science among all the students of the university who come from diverse backgrounds and are studying diverse courses.</p>
                
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name"><br>
                
                <label for="roll">Roll Number:</label><br>
                <input type="number" id="roll" name="roll"><br>
                
                <label for="year">Pick your Year:</label><br>
                <select id="year" name="year">
                    <option value="first">First</option>
                    <option value="second">Second</option>
                    <option value="third">Third</option>
                    <option value="fourth">Fourth</option>
                </select><br>
                
                <label for="info">Information:</label><br>
                <textarea id="info" name="info" rows="10" cols="30"></textarea>

            </form>  
        </div>

        <footer>
            <p>Creative Computing Society</p>
            <p><a href="ccs@thapar.edu">ccs@thapar.edu</a></p>
        </footer>
</body>
</html>
